@import './normalize';
@import './font';
@import './variables';
@import './mixins/module';

html {
  padding: 2vh 15px 2vh;
  background-color: var(--color-accent-secondary);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  width: 100%;
  max-width: 1340px;
  min-height: 96vh;
  margin: 0 auto;
  padding: 0 15px 20px;

  font-family: Nunito, sans-serif;
  letter-spacing: 0.04em;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  border-radius: 20px;
  transition: background-color var(--transition-primary);

  @include tablet {
    padding: 0 20px 30px;
  }
}
