@import "./normalize";
@import "./font";
@import "./variables";
@import "./mixins/module";

html {
  padding: 20px 15px 60px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  font-family: Nunito, sans-serif;
  letter-spacing: 0.04em;
  color: var(--thamar-black);
  background-color: var(--brite-gold);
}

.app {
  min-height: 100vh;
  padding: 0 var(--container-pd-sm) 64px;
  background-color: var(--snow);
  border-radius: 20px;
  transition: background-color var(--duration) var(--type);

  @include mq(tablet) {
    padding: 0 var(--container-pd-md) 4rem;
  }
}

.header {
  margin-bottom: 24;
  padding: 25px 0 20px;
  border-bottom: 1px solid #f6f6f6;

  @include mq(mobile-only) {
    text-align: center;
  }

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 50px 0 40px;
  }

  &__logo {
    @include mq(mobile-only) {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: 12px 25px;
    color: #fff;
    line-height: 23px;
    text-decoration: none;
    background-color: #fe5f1e;
    border-radius: 30px;
    transition: background-color ease 0.25s;

    .price {
      position: relative;
      margin-right: 5px;
      padding-right: 5px;
      border-right: 1px solid rgba(255, 255, 255, 0.25);
    }

    .cartSvg {
      margin-right: 5px;
    }

    &:hover {
      background-color: darken($color: #fe5f1e, $amount: 10%);
    }
  }
}
