.NoRoutePage {
  display: grid;
  place-content: center;
  height: 70vh;
}

.title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.aftertitle {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  color: #7b7b7b;
}

.goHomeLink {
  justify-self: center;
  gap: 10px;
  padding: 0 25px;
  font-weight: 600;
}

.homeIcon {
  width: 15px;
  height: 15px;
  fill: currentColor;
}
