.optionsSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 32px;

  @include laptop {
    align-items: baseline;
    gap: 0 20px;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.optionsCategories {
  display: flex;
  gap: 5px;
  overflow: auto;

  @include maxLaptop {
    margin-bottom: 20px;
  }
}

.pizzasSection {
  margin-bottom: 50px;

  .sectionTitle {
    margin-bottom: 48px;
    font-size: 32px;
  }

  .pizzaList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    place-items: center;
    gap: 40px 30px;
    align-items: end;

    @include tablet {
      gap: 60px 30px;
    }
  }
}

.pagination {
  @include mobileOnly {
    justify-content: center;
  }
}
