.Logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;

  @include mobileOnly {
    text-align: center;
    flex-direction: column;
  }
}

.pizzaIcon {
  --wh-unit: 38px;
  width: var(--wh-unit);
  height: var(--wh-unit);
}

.title {
  margin: 0 0 5px 0;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}

.afterTitle {
  text-align: center;
  color: var(--grey);

  @include mobileOnly {
    max-width: 240px;
  }
}
