.Logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;

  @include mobileOnly {
    text-align: center;
    flex-direction: column;
  }
}

.pizzaIcon {
  width: 38px;
  height: 38px;
}

.title {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #181818;
}

.afterTitle {
  text-align: center;
  color: #7b7b7b;

  @include mobileOnly {
    max-width: 240px;
  }
}
