.PizzaItem {
  max-width: 280px;
  width: 100%;
  text-align: center;
}

.img {
  max-width: 260px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-align: center;
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: var(--bleached-silk);
  border-radius: 10px;
  padding: 6px;
}

.typesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8px;
}

.typesButton,
.sizesButton {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

  &.active {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    cursor: auto;
  }
}

.sizesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.addButton {
  font-weight: 500;

  .plusIcon {
    margin-right: 1px;
    fill: currentColor;
    transition: fill 0.4s ease-in-out;
  }

  &:active {
    background-color: #fe5f1e;
  }
}

.amount {
  width: 22px;
  height: 22px;
  color: var(--snow);
  background-color: #eb5a1e;
  border-radius: 50%;
  line-height: 1.2;
}
