.SortBy {
  position: relative;
  width: 250px;
}

.sortButton {
  display: flex;
  gap: 5px;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.titleWrapper {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
}

.sortByTitle {
  font-size: 16px;
  font-weight: 600;
}

.arrowIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  &.rotate {
    transform: rotateZ(180deg);
  }
}

.selectedSort {
  width: fit-content;
  margin-left: 5px;
  font-size: 16px;
  text-align: center;
  color: var(--brave-orange);
  border-bottom: 1px dotted var(--brave-orange);
}

.optionsList {
  position: absolute;
  right: 0;
  display: none;
  width: 160px;
  margin-top: 15px;
  padding: 10px 0;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;

  transition-behavior: allow-discrete;
  transition-duration: var(--duration);

  &.isVisible {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.optionsButton {
  width: 100%;
  padding: 12px;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  transition: color var(--duration) var(--type),
    background-color var(--duration) var(--type);
  cursor: pointer;

  &.active {
    font-weight: bold;
    color: var(--brave-orange);
  }

  &.active,
  &:hover {
    background: rgba(254, 95, 30, 0.05);
  }
}
