$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

@mixin mobileOnly {
  @media (max-width: ($tablet - 0.1)) {
    @content;
  }
}

@mixin tabletOnly {
  @media (min-width: $tablet) and (max-width: ($laptop - 0.1)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin maxTablet {
  @media (max-width: ($laptop - 0.1)) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin maxLaptop {
  @media (max-width: ($desktop - 0.1)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
