.Loader {
  z-index: var(--loader-z-index);
  border: 5px solid rgb(255, 221, 158);
  border-top: 5px solid orange;
  border-radius: 50%;
  animation: spin 2s infinite;
}

// Sizes
.sm {
  width: 20px;
  height: 20px;
}

.md {
  width: 40px;
  height: 40px;
}

.lg {
  width: 70px;
  height: 70px;
}

// Positioning

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

@keyframes spin {
  0% {
    rotate: (0);
  }
  100% {
    rotate: (360deg);
  }
}
