.Categories {
  padding-bottom: 15px;
}

.btn {
  font-weight: 700;
  white-space: nowrap;
  color: var(--thamar-black);
  border-radius: var(--btn-radius);

  &.active {
    background-color: var(--dire-wolf);
    color: var(--snow);
  }
}
