@import "./normalize";
@import "./font";
@import "./variables";
@import "./mixins/module";

html {
  padding: 20px 15px 60px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  font-family: Nunito, sans-serif;
  letter-spacing: 0.04em;
  color: $thamarBlack;
  background-color: var(--brite-gold);
}

.app {
  min-height: 100vh;
  padding: 0 var(--container-pd-sm) 64px;
  background-color: var(--snow);
  border-radius: 20px;
  transition: background-color var(--duration) var(--type);

  @include tablet {
    padding: 0 var(--container-pd-md) 4rem;
  }
}

.header {
  margin-bottom: 24px;
  padding: 25px 0 20px;
  border-bottom: var(--border-1px-lightgrey);

  @include mobileOnly {
    text-align: center;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 50px 0 40px;
  }

  &__logo {
    @include mobileOnly {
      margin-bottom: 32px;
    }
  }

  &__cart-link {
    display: inline-flex;
    align-items: center;
    padding: 12px 25px;

    line-height: 23px;
    text-decoration: none;

    color: var(--snow);
    background-color: var(--brave-orange);
    border-radius: 30px;
    transition: background-color ease 0.25s;

    &:hover {
      background-color: darken($color: #fe5f1e, $amount: 10%);
    }
  }
}

// TODO: add common styles for all links in its own file DRY

.header-cart-link {
  &__price {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__cartSvg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

// TODO: add title to buttons without label and .visually-hidden element
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
