@import "./normalize";
@import "./font";
@import "./variables";
@import "./mixins/module";

html {
  padding: 20px 15px 40px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  font-family: Nunito, sans-serif;
  letter-spacing: 0.04em;
  color: var(--color-primary-dark);
  background-color: var(--color-accent-secondary);
}

.app {
  padding: 0 15px 64px;
  background-color: var(--color-primary-light);
  border-radius: 20px;
  transition: background-color var(--transition-primary);

  @include tablet {
    padding: 0 20px 64px;
  }
}

.header {
  margin: 0 0 24px 0;
  padding: 25px 0 20px;
  border-bottom: var(--border-primary);

  @include mobileOnly {
    text-align: center;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 50px 0 40px;
  }

  &__logo {
    @include mobileOnly {
      margin: 0 0 32px 0;
    }
  }
}

.header-cart-link {
  padding: 10px 30px;
  font-weight: 700;
  text-decoration: none;

  &__price {
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
    border-right: var(--border-primary);
  }

  &__cartSvg {
    --wh-unit: 16px;
    width: var(--wh-unit);
    height: var(--wh-unit);
    margin: 0 5px 0 0;
  }
}
