@import "./normalize";
@import "./font";
@import "./variables";
@import "./mixins/module";

html {
  padding: 20px 15px 40px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  font-family: Nunito, sans-serif;
  letter-spacing: 0.04em;
  color: var(--thamar-black);
  background-color: var(--brite-gold);
}

.app {
  padding: 0 var(--container-pd-sm) 64px;
  background-color: var(--snow);
  border-radius: 20px;
  transition: background-color var(--duration) var(--type);

  @include tablet {
    padding: 0 var(--container-pd-md) 4rem;
  }
}

.header {
  margin-bottom: 24px;
  padding: 25px 0 20px;
  border-bottom: var(--border-1px-lightgrey);

  @include mobileOnly {
    text-align: center;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 50px 0 40px;
  }

  &__logo {
    @include mobileOnly {
      margin-bottom: 32px;
    }
  }
}

.header-cart-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px 30px;
  line-height: 23px;
  text-decoration: none;
  font-weight: 700;
  color: var(--snow);

  background-color: var(--brave-orange);
  border-radius: var(--radius-30);
  transition: background-color ease 0.25s;

  &__price {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__cartSvg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    background-color: darken($color: #fe5f1e, $amount: 10%);
  }
}
