// TODO: add font for mobile in var
// TODO: check all font sizes used

:root {
  //---------------------------------------- Fonts ----------------------------------------
  --ff: "Nunito", sans-serif;

  --fz-s: 14px;
  --lh-s: 22px;
  --font-sm: var(--lh-s) / var(--fz-s);

  --fz-m: 16px;
  --lh-m: 24px;
  --font-md: var(--lh-m) / var(--fz-m);

  --fz-l: 24px;
  --lh-l: 32px;
  --font-lg: var(--lh-l) / var(--fz-l);

  --fz-xl: 32px;
  --lh-xl: 40px;
  --font-xl: var(--lh-xl) / var(--fz-xl);

  //---------------------------------------- Colors ----------------------------------------
  --color-primary-dark: #000;
  --color-primary-light: #fff;

  --color-accent-lightest: rgba(254, 95, 30, 0.05);
  --color-accent: #fe5f1e;
  --color-accent-darker: #e5490b;
  --color-accent-secondary: #ffdf8c;

  --grey-lighten: #f9f9f9;
  --grey-light: #f3f3f3;
  --grey: #7b7b7b;
  --grey-dark: #4d4d4d;
  --grey-darken: #3a3939;
  --grey-alpha-04: rgba(0, 0, 0, 0.04);
  --grey-alpha-09: rgba(0, 0, 0, 0.09);
  --grey-alpha-25: rgba(0, 0, 0, 0.25);

  //----------------------------------------Widget Sizes----------------------------------------
  --navbar-h: 50px;

  //---------------------------------------- Z-Indexes ----------------------------------------
  --overlay-z-index: 9;
  --modal-z-index: 10;
  --loader-z-index: 11;

  //---------------------------------------- Transitions ----------------------------------------
  --transition-primary: 0.15s ease-in-out;

  //---------------------------------------- Borders ----------------------------------------
  --border-primary: 1px solid var(--grey-lighten);

  //---------------------------------------- Shadows ----------------------------------------
  --text-shadow-primary: 0 4px 4px var(--grey-alpha-25);
}
