// TODO: add font for mobile in var
// TODO: check all font sizes used

:root {
  //---------------------------------------- Fonts ----------------------------------------

  --ff: "Nunito", sans-serif;

  --fz-s: 14px;
  --lh-s: 22px;

  --fz-m: 16px;
  --lh-m: 24px;

  --fz-l: 24px;
  --lh-l: 32px;

  --fz-xl: 32px;
  --lh-l: 40px;
  //---------------------------------------- Colors ----------------------------------------
  --snow: #fff;
  --brite-gold: #ffdf8c;
  --bleached-silk: #f3f3f3;
  --brave-orange: #fe5f1e;
  --doctor: #f9f9f9;
  --shoe-wax: #2c2c2c;
  --wet-stone: rgba(0, 0, 0, 0.04);
  --shadow: rgba(0, 0, 0, 0.25);
  --dire-wolf: #282828;
  --retro-orange: #e5490b;
  --thamar-black: #181818;

  //----------------------------------------Hover colors----------------------------------------

  //----------------------------------------Widget Sizes----------------------------------------
  --navbar-h: 50px;
  --sidebar-w: 300px;
  --sidebar-collapsed-w: 80px;

  //---------------------------------------- Margins-Paddings ----------------------------------------
  --container-pd-sm: 15px;
  --container-pd-md: 20px;

  //---------------------------------------- Z-Indexes ----------------------------------------
  --overlay-z-index: 9;
  --modal-z-index: 10;
  --loader-z-index: 11;

  //---------------------------------------- Transitions ----------------------------------------
  --type: ease-in-out;
  --duration: 0.15s;

  //---------------------------------------- Borders ----------------------------------------

  --border-1px-lightgrey: 1px solid #f6f6f6;

  //---------------------------------------- Borders ----------------------------------------

  --btn-radius: 30px;

  //---------------------------------------- Shadows ----------------------------------------

  --shadow-4px: 4px;
  --shadow-2px: 2px;

  --shadow-4px-dark: 0 var(--shadow-4px) var(--shadow-4px) var(--shadow);
  --shadow-2px-dark: 0 var(--shadow-2px) var(--shadow-2px) var(--shadow);

  //---------------------------------------- Hover ----------------------------------------
}
