.CartPage {
  max-width: 820px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--thamar-black);
  border-bottom: var(--border-b-1px-grey);
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include laptop {
    gap: 15px;
  }
}

.cartIcon {
  width: 22px;
  height: 22px;

  @include laptop {
    width: 30px;
    height: 30px;
  }
}

.title {
  font-weight: 700;
  font-size: var(--fz-l);
  letter-spacing: 0.01em;
  text-shadow: var(--shadow-4px-dark);

  @include laptop {
    font-size: var(--fz-xl);
  }
}

.clearCartButton {
  color: #b6b6b6;

  @include tablet {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @include hover {
    &:hover,
    &:focus {
      color: darken($color: #b6b6b6, $amount: 10);
    }
  }

  @include hoverNone {
    &:active {
      color: darken($color: #b6b6b6, $amount: 10);
    }
  }
}

.clearCartLabel {
  font-size: var(--fz-m);

  @include mobileOnly {
    display: none;
  }
}

.pizzaItemsSection {
  margin-bottom: 40px;
}

.itemsList {
  @include mobileOnly {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  margin-bottom: 30px;
}

.orderTotalSection {
  display: flex;
}

.priceLabel,
.totalPriceLabel {
  display: flex;
  gap: 5px;
  font-size: var(--fz-m);
}

.priceNum,
.totalPriceNum {
  font-weight: 800;
}

.totalPriceNum {
  color: var(--brave-orange);
}

.totalPriceLabel {
  margin-left: auto;
}

// Footer
.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.emptyCartLink,
.goBackLink {
  gap: 15px;
}

.cartPayLink {
  color: var(--snow);
  background-color: var(--brave-orange);
}

// Empty cart

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCartTitle {
  margin: 0 0 15px 0;

  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #000;

  @include tablet {
    font-size: 32px;
  }
}

.emptyCartAfterTitle {
  max-width: 395px;
  margin: 0 0 45px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  text-align: center;
  color: #777;
}

.emptyCartImg {
  width: 100%;
  margin: 0 0 75px 0;
}
