.PizzaItem {
  max-width: 260px;
  text-align: center;
}

.img {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-align: center;
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: var(--bleached-silk);
  border-radius: 10px;
  padding: 6px;
}

.typesList,
.sizesList {
  display: grid;
  gap: 5px;
}

.typesList {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8px;
}

.sizesList {
  grid-template-columns: repeat(3, 1fr);
}

.typesButton,
.sizesButton {
  width: 100%;
  padding: 8px;

  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

  &.active {
    background-color: var(--snow);
    box-shadow: 0px 2px 4px var(--wet-stone);
    cursor: auto;
  }

  @include hover {
    &:hover,
    &:focus {
      background-color: var(--snow);
    }
  }

  @include hoverNone {
    &:active {
      background-color: var(--snow);
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  gap: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
