.CartItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;

  @include mq(mobile-only) {
    position: relative;
    flex-direction: column;
  }
}

.imgTextGroup {
  display: flex;
  align-items: center;
}

.image {
  @include mq(mobile-only) {
    max-width: 240px;
    max-height: 240px;
    width: 100%;
    height: 100%;
  }

  max-width: 80px;
  max-height: 80px;

  @include mq(tablet) {
    margin-right: 30px;
  }
}

.textWrapper {
  letter-spacing: 0.01em;

  @include mq(mobile-only) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;

  @include mq(tablet) {
    font-size: 22px;
  }
}

.afterTitle {
  letter-spacing: 0.01em;
  color: #8d8d8d;

  @include mq(tablet) {
    font-size: 18px;
  }
}

.itemLeftWrapper {
  --size: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;

  @include mq(mobile-only) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include mq(tablet) {
    gap: 70px;
    margin-left: auto;
  }
}

.quantityCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity {
  min-width: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

.decreaseBtn,
.increaseBtn,
.removeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vw 50vw 50vw 50vw;
  width: var(--size);
  height: var(--size);
  border: 2px solid currentColor;
}

.decreaseBtn,
.increaseBtn {
  color: var(--brave-orange);

  .plusIcon,
  .minusIcon {
    stroke: currentColor;
    fill: currentColor;
  }
}

.price {
  font-weight: 700;

  @include mq(tablet) {
    font-size: 22px;
    min-width: 100px;
  }
}

.removeBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);

  color: #d7d7d7;
  border: 2px solid currentColor;
  border-radius: 50vh;

  .removeIcon {
    fill: currentColor;
  }

  @include mq(mobile-only) {
    position: absolute;
    top: 0;
    right: 0;
  }
}
