.Header {
  margin: 0 0 24px 0;
  padding: 25px 0 20px;
  border-bottom: var(--border-primary);

  @include mobileOnly {
    text-align: center;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 50px 0 40px;
  }
}

.logo {
  @include mobileOnly {
    display: block;
    margin: 0 0 32px 0;
  }
}
