.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--thamar-black);
  background-color: transparent;
  border-radius: var(--radius-30);
  border: 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

// ------------------------------------------- Themes -------------------------------------------

.lightButton {
  color: var(--brave-orange);
  background-color: var(--snow);

  &:hover,
  &:focus-visible {
    color: var(--snow);
    background-color: var(--brave-orange);
  }

  @include supportsNotFocusVisible {
    color: var(--snow);
    background-color: var(--brave-orange);
  }
}

.greyButton {
  background-color: var(--doctor);

  &:hover,
  &:focus-visible {
    background-color: darken(#f9f9f9, 5%);
  }

  @include supportsNotFocusVisible {
    background-color: darken(#f9f9f9, 5%);
  }
}

//------------------------------------------- Options ----------------------------------

.outlined {
  border: 1px solid var(--brave-orange);
}

//------------------------------------------- Sizes ---------------------------------------

.smallButton {
  height: 40px;
  padding: 10px 20px;
}

.mediumButton {
  height: 45px;
  padding: 12px 25px;
}

.largeButton {
  height: 50px;
  padding: 13px 30px;
}
