.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--thamar-black);
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

// Themes -------------------------------------------

.lightButton {
  color: var(--brave-orange);
  background-color: var(--snow);

  @include mq(hover) {
    &:hover,
    &:focus {
      color: var(--snow);
      background-color: var(--brave-orange);
    }
  }

  @include mq(hover-none) {
    &:active {
      background-color: #fe5f1e;
    }
  }
}

.greyButton {
  background-color: var(--doctor);

  @include mq(hover) {
    &:hover,
    &:focus {
      background-color: darken(#f9f9f9, 2%);
    }
  }

  @include mq(hover-none) {
    &:active {
      background-color: darken(#f9f9f9, 5%);
    }
  }
}

// Options ----------------------------------

.outlined {
  border-color: var(--brave-orange);
}

// Sizes ---------------------------------------

.smallButton {
  height: 40px;
  padding: 8px 20px;
}

.mediumButton {
  height: 45px;
  padding: 12px 25px;
}

.largeButton {
  height: 50px;
  padding: 13px 30px;
}
