.AppLink {
  text-decoration: none;
}

// Roles
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 40px;

  color: var(--grey);
  border-radius: 30px;
  transition: background-color var(--transition-primary), color var(--transition-primary);
}

// Themes
.grey {
  color: var(--grey);
  border: 1px solid currentColor;
  opacity: 0.45;

  @include hoverHover {
    color: var(--grey-darken);
  }

  @include hoverNone {
    color: var(--grey-darken);
  }
}

.dark {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);

  @include hoverHover {
    border-color: var(--color-accent);
  }

  @include hoverNone {
    border-color: var(--color-accent);
  }
}

.accent {
  color: var(--color-primary-light);
  background-color: var(--color-accent);

  @include hoverHover {
    background-color: var(--color-accent-darker);
  }

  @include hoverNone {
    background-color: var(--color-accent-darker);
  }
}
